<%- include('style.ejs') %>
<nav>
    <img src="/Logo.svg">
    <ul>
        <li><a href="#" class="btn">تسجيل الدخول</a></li>
        <li><a href="#" class="btn btn-primary">إنشاء حساب</a></li>
    </ul>
</nav>