<!DOCTYPE html>
<html>
    <head>
        <title>Araby Basit| <%= page %></title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.10.1/jasmine.min.js" integrity="sha512-JzZTzFdL9ehTMmQyKmAlj+lfWMEPfxsvmWPD01jGMCOKj/OhoVgOKbc01INgB+LjHktzm5ndbP74guFflI3slw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.10.1/jasmine.min.css" integrity="sha512-VmXOc/75WLdJSABvh3ovbpXUxqO/tyW29GcmNZz0sRwQHRqBIAq61kAGITx5v2YPuvG07y8m522WVYKpRB6rxw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
    <%- include('bootstrap.ejs') %>