<!DOCTYPE html>
<html>
    <head>
        <title>عربي بسيط | <%= page %></title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.10.1/jasmine.min.js" integrity="sha512-JzZTzFdL9ehTMmQyKmAlj+lfWMEPfxsvmWPD01jGMCOKj/OhoVgOKbc01INgB+LjHktzm5ndbP74guFflI3slw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/3.10.1/jasmine.min.css" integrity="sha512-VmXOc/75WLdJSABvh3ovbpXUxqO/tyW29GcmNZz0sRwQHRqBIAq61kAGITx5v2YPuvG07y8m522WVYKpRB6rxw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
<link rel="stylesheet" href="/css/landing.css" type="text/css">
<nav>
    <div>
        <a href="/login" class="btn btn-primary-outline">تسجيل الدخول</a>
        <a herf="/signup" class="btn btn-primary">انشاء حساب جديد</a>
    </div>
</nav>
<section class="hero">
    <div>
        <h1>د/ مصطفي عبد الهادي</h1>
        <h5>مدرس اول لغة عربية بمدرسة النصر للبنين</h5>
    </div>
</section>
<hr>
<section>
    <h1 style="margin-bottom: 50px;">ما تقدمه المنصة</h1>
    <div class="contact-us">
        <div class="icon-container">
            <img src="/imgs/Icon 1.svg" class="icon">
        </div>
        <div class="icon-container">
            <img src="/imgs/Icon 2.svg" class="icon">
        </div>
        <div class="icon-container">
            <img src="/imgs/Icon 3.svg" class="icon">
        </div>
        <div class="icon-container">
            <img src="/imgs/Icon 4.svg" class="icon">
        </div>
        <div class="icon-container">
            <img src="/imgs/Icon 5.svg" class="icon">
        </div>
    </div>
</section>
<hr>
<h1 style="text-align: center; margin-bottom: 50px;">تواصل معنا</h1>
<section class="contact-us">
    <a class="icon-container" href="tel:+201279111932">
        <img src="/imgs/phone.png" class="imgs">
        <h4 class="icon-subtitle">+20 127 911 1932</h4>
    </div>
    <a class="icon-container" href="https://www.youtube.com/channel/UC_gUQmV9nyhlXXLDaXCrsVA">
        <img src="/imgs/youtube.png" class="imgs">
        <h4 class="icon-subtitle">عربي بسيط</h4>
    </div>
    <a class="icon-container">
        <img src="/imgs/facebook.png" class="imgs" href="#">
        <h4 class="icon-subtitle">عربي بسيط</h4>
    </div>
</section>
</body>
</html>