<%- include('style.ejs') %>
<section class="contact">
    <h3>تواصل معنا على</h3>
    <div>
        <div>
            <a href="tel:+20 127 911 1932">
                <img src="/Phone.svg">
            </a>
            <h5>+20 127 911 1932</h5>
        </div>
        <div>
            <a href="https://www.youtube.com/channel/UC_gUQmV9nyhlXXLDaXCrsVA">
                <img src="/Youtube.svg">
            </a>
            <h5>قناة يوتيوب</h5>
        </div>
        <div>
            <a href="#">
                <img src="/Facebook.svg">
            </a>
            <h5>صفحة الفيسبوك</h5>
            </div>
    </div>
</section>