<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/css/landing.css" type="text/css">
<nav>
    <a href="/login" class="btn btn-primary-outline">تسجيل الدخول</a>
    <a herf="/signup" class="btn btn-primary">انشاء حساب جديد</a>
</nav>
<section class="hero">
    <img src="#">
    <h1>د/ مصطفي عبد الهادي</h1>
    <h3>مدرس اول لغة عربية بمدرسة النصر للبنين</h3>
</section>
<section>
    <h1>ما تقدمه المنصة</h1>
    <div class="icon-container">
        <img src="#" class="icon">
        <h4 class="icon-subtitle">دروس</h4>
    </div>
    <div class="icon-container">
        <img src="#" class="icon">
        <h4 class="icon-subtitle">واجبات</h4>
    </div>
    <div class="icon-container">
        <img src="#" class="icon">
        <h4 class="icon-subtitle">امتحانات</h4>
    </div>
    <div class="icon-container">
        <img src="#" class="icon">
        <h4 class="icon-subtitle">اجابات لأسئلة الطلبة</h4>
    </div>
    <div class="icon-container">
        <img src="#" class="icon">
        <h4 class="icon-subtitle">تقارير الاداء</h4>
    </div>
</section>
<section class="contact-us">
    <div class="icon-container">
        <img src="#" class="icon">
        <h4 class="icon-subtitle">+20 127 911 1932</h4>
    </div>
    <div class="icon-container">
        <img src="#" class="icon">
        <h4 class="icon-subtitle">عربي بسيط</h4>
    </div>
    <div class="icon-container">
        <img src="#" class="icon">
        <h4 class="icon-subtitle">عربي بسيط</h4>
    </div>
</section>