<%- include('../bootstrap.min.ejs') %>
<%- include('style.ejs') %>
<div class="card card-preview" style="width: 18rem;">
    <%- include('../video/video.ejs') %>
    </div>
    <div class="questions">
      <h2>-:الأسئلة </h2>
      <div class="question">
        <h5><span style="color: #32A1D1">مصطفى:</span> ازاي تعرب ٣ث </h5>
        <img src="Photo.svg" alt="...">
        <div>
          <h5>ازاي تعرب ٣ث </h5>
          <img src="curve-arrow.png" style="margin-left: auto; margin-right: 20px; width: 60px; height: 30px;">
        </div>
      </div>
    </div>
  </div>
  </div>