<%- include('style.ejs') %>
<section class="hero">
    <img src="/Photo.svg">
    <div>
        <h1>د/ مصطفى عبد الهادى</h1>
        <h4>أول مدرس لغة عربية بمدرسة النصر للبنين</h4>
    </div>
</section>