<%- include('style.ejs') %>
<section class="offerings">
    <h3>ما تقدمه المنصة</h3>
    <div>
        <div>
            <img src="/Video Icon.svg">
            <h5>شرح بالفيديو</h5>
        </div>
    <div>
        <img src="/Homework.svg">
        <h5>واجبات</h5>
    </div>
    <div>
        <img src="/Exams.svg">
        <h5>امتحانات</h5>
    </div>
    <div>
        <img src="/Progress.svg">
        <h5>تقارير الأداء</h5>
    </div>
    <div>
        <img src="/Question.svg">
        <h5>أجوبة لكل سؤال</h5>
    </div>
    </div>
</section>