<%- include('../../partials/header.ejs') %>
<%- include('style.ejs') %>
<nav>
    <img src="/Logo.svg">
    <ul>
    <li>
        <a href="#" class="btn">
            ملفي        
        </a>
    </li>
    <li>
        <a href="#" class="btn">
            أسئلة الطلاب        
        </a>
    </li>
    <li>
        <a href="#" class="btn">
            الامتحانات
        </a>
    </li>
    <li>
        <a href="#" class="btn">
            الواجبات        
        </a>
    </li>
    <li>
        <a href="#" class="btn btn-primary">
            الصفحة الرئيسية
        </a>
    </li>
    </ul>
</nav>