<%- include("style.ejs") %>
<nav>
    <ul>
        <li>
            <select name="type" id="type">
                <option value="video">فيديو</option>
                <option value="pdf">ملف PDF</option>
            </select>
            <h3>النوع</h3>
        </li>
        <li>
            <select name="lesson" id="lesson">
                <option value="1">الاولي</option>
                <option value="2">الثانية</option>
                <option value="3">الثالثة</option>
            </select>
            <h3>الدرس</h3>
        </li>
        <li>
            <select name="unit" id="unit">
                <option value="1">الاولي</option>
                <option value="2">الثانية</option>
                <option value="3">الثالثة</option>
            </select>
            <h3>الوحدة</h3>
        </li>
        <li>
            <select name="branch" id="branch">
                <option value="bala8a">بلاغة</option>
                <option value="Na7o">نحو</option>
                <option value="adab">ادب</option>
                <option value="kra2a">قراءة</option>
                <option value="nosoos">نصوص</option>
                <option value="kesa">قصة</option>
                <option value="ta3bir">تعبير</option>
            </select>
            <h3>الفرع</h3>
        </li>
    </ul>
</nav>