<%- include('../bootstrap.min.ejs') %>
<%- include('style.ejs') %>
<div class="card" style="width: 18rem;">
  <a href="https://docs.google.com/document/d/1AeID0xqd1_XJR1VhLbsEnb3ynf5nWLZVX8O38mPWAs0/edit?usp=sharing">
<div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <a href="https://docs.google.com/document/d/1AeID0xqd1_XJR1VhLbsEnb3ynf5nWLZVX8O38mPWAs0/edit?usp=sharing">
<div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <a href="https://docs.google.com/document/d/1AeID0xqd1_XJR1VhLbsEnb3ynf5nWLZVX8O38mPWAs0/edit?usp=sharing">
<div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <a href="https://docs.google.com/document/d/1AeID0xqd1_XJR1VhLbsEnb3ynf5nWLZVX8O38mPWAs0/edit?usp=sharing">
<div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>